body {
  background-color: #E0EBEB;
  color: #37493F;
  font-weight: bold;
}

input {
  font-size: 16px;
  padding: 5px;
}

#submit {
  background-color: #FFB133;
  padding: 5px;
}

.App {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 5px 5px 9px #334D3F;
  height: auto;
  margin: 70px auto;
  padding: 30px;
  text-align: center;
  width: 30%;
}

.App-link {
  color: #61dafb;
}

